<body>
    <nav>
        <div class="logo--left">
            <h2 class="icon">HBW</h2>
            <h1>Hackerbaseworld</h1>
        </div>
        <div class="menu--right">
            <ul>
                <li>Home</li>
                <li>About Me</li>
                <li>My Expertise</li>
                <li>Services</li>
                <li>Contact Me</li>
                <button>Your Request</button>
            </ul>
        </div>
    </nav>

<!--COntainer-->
<div class="container">

    <!-- Banner Infos -->
<div class="banner--section">
    <div class="col--left">
        <h1>HIRE A HACKER 🐱</h1>
        <h3>Trustworthy Professional Certified Ethical Hacker For Hire</h3>
        <p>Do you want to Hire a Hacker committed to excellence. 
            In various condition if need a genuine hacker and you do not have any idea that how to hire a professional hacker online? 
            We are here uncertain to contact a hacker. 
            You can feel free to contact with us for hinging a hacker. 🐱‍💻</p>
    </div>
    <div class="col--right">
        <div class="scatter-imgs">
            <img src="img/img-1.jpg" alt="Hacker" class="img-r">
            <img src="img/img-3.jpg" alt="Hacker" class="img-l">
        </div>
        <div class="scatter-imgs">
            <img src="img/img-4.jpg" alt="Hacker" class="img-l">
            <img src="img/img-2.png" alt="Hacker" class="img-r">
        </div>
    </div>
</div>

<!--Excerpt Block-->
<div class="excerpt">
    <h3>&#8226; Hacker Base World</h3>
    <p><i>The only way you can get secured is to get informed</i></p>
</div>

<!--ABout me Block-->
<div class="about--me" id="about">
    <div class="col--left">
        <h1>About Me?😃</h1>
        <p>
            As a leading Ethical Hacker for Hire agency in the world, Spy and Monitor offer best Hacker for Hire services. We have a professional Global team of certified hackers, who are experts in special fields. 
            You can easily Hire a Hacker online by conducting numerous level live tests; proceeding to they can connect with our special team.
        </p>
    </div>
    <div class="a-col--right">
        <img src="img/hacker-logo.jpeg" alt="Hacker">
    </div>
</div>

<!--My Expertise Block-->
<div class="expertise" id="services">
    <h2>😜 My Services</h2>
<div class="content--card">
    <div class="--card">
        <p>Information Security</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>All Round Investigation</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Private Investigation</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Scam Investigation</p>
        <button>Get Started</button>
    </div>
</div>
<div class="content--card">
    <div class="--card">
        <p>Affair Investigation</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Background Investigation</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Kidnapped/Missing/Run away</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Debugging Sweeps / Car GPS Removal</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Physical Security</p>
        <button>Get Started</button>
    </div>
</div>
<div class="content--card">
    <div class="--card">
        <p>Risk Assessment</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Optimum Surveillance on your employees, competitors or spouse.</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Underground Investigations in the workforce.</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Internet or Phone Surveillance on your employees, spouse or significant other.</p>
        <button>Get Started</button>
    </div>
</div>
<div class="content--card">
    <div class="--card">
        <p>Background Checks on a potential Bride.</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Locating an old family or friend from your past.</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Fraud and Work Place Investigations.</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Obtaining and Verifying Sensitive Information.</p>
        <button>Get Started</button>
    </div>
    <div class="--card">
        <p>Tailored Inquiries</p>
        <button>Get Started</button>
    </div>
</div>
</div>

<!--Footer Block-->
<div class="footer">
    <h2> 🎉 Get In Touch With a Hacker</h2>
    <form action="" method="post">
        <div class="email">
            <input type="email" name="email" id="email" placeholder="info@gmail.com"/>
        </div>
        <div class="service_list">
            <select name="services" id="services">
                <option value="">Select a Service</option>
                <option value="Information Security">Information Security</option>
                <option value="All round Investigation">All Round Investigation</option>
                <option value="Private Investigation">Private Investigation</option>
                <option value="Scam Investigation">Scam Investigation</option>
                <option value="Affair Investigation">Affair Investigation</option>
                <option value="Background Investigation">Background Investigation</option>
                <option value="Kidnapped Missing Run Away Case">Kidnapped/Missing/Runaway Case</option>
                <option value="Debugging Sweeps or Car GPS Removal">Debugging Sweeps/Car GPS Removal</option>
                <option value="Physical Security">Physical Security</option>
                <option value="Risk Assessment">Risk Assessment</option>
                <option value="Optimum Surveillance on your employees, competitors or spouse">Optimum Surveillance on your employees, competitors or spouse.</option>
                <option value="Underground Investigations in the workforce">Underground Investigations in the workforce.</option>
                <option value="Internet or Phone Surveillance on your employees, spouse or significant other">Internet or Phone Surveillance on your employees, spouse or significant other.</option>
                <option value="Background Check on a potential Bride">Background Checks on Potential Bride</option>
                <option value="Locating old friend or family from the past">Locating old friend or family from the past</option>
                <option value="Fraud and Workplace Investigation">Fraud and Workplace Investigation</option>
                <option value="Obtaining and Verifying Sensitive Information">Obtaining and Verifying Sensitive Information.</option>
                <option value="Tailored Enquiries">Tailored Enquiries</option>
            </select>
        </div>
        <div class="phone">
            <input type="tel" name="phone" id="phone" placeholder="tel: +1 XXXX...">
        </div>
            <button type="submit">></button>
    </form>
    <div class="sub--foot">
        <div class="f-col">
            <div class="logo--left">
                <h2 class="icon">HBW</h2>
                <h1>Hackerbaseworld</h1>
            </div>
            <p>We have a professional Global team of certified hackers, who are experts in special fields.😎</p>
            <a href="/">&copy; HBW</a> &#8226; <a href="/">Privacy</a> &#8226; <a href="/">Terms</a>  
        </div>
        <div class="f-col">
            <div class="logo--left">
                <h1>🔗 Quick Links</h1>
            </div>
            <ul>
                <li>About</li>
                <li>Services</li>
                <li>Get in touch with a hacker</li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>